{% extends "base.html" %}

{% block content %}
    <div class="well clearfix">
        <div class="btn-group pull-right">
            <a href="{% url 'article-edit' object.slug %}" class="btn btn-primary btn-edit">Edit</a>
            <a href="{% url 'new-alias' object.slug %}" class="btn btn-primary btn-new-alias">New alias</a>
        </div>
    </div>

    <h1>
        {{ article_name }}
        {% if article_name != object.name %}
            <small>Redirected from {{ object.name }}</small>
        {% endif %}
    </h1>

    <div class="body">
        {% autoescape off %}
            {{ compiled_body }}
        {% endautoescape %}
    </div>
{% endblock %}
