{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{{ article_name }} &mdash; {% trans "comments" %}</h1>

    <div class="article-comments">
        {% for comment in comments %}
            <div class="article-comments__comment" data-depth="{{ comment.depth }}">
                <div class="article-comments__author">{{ comment.user }}</div>
                <div class="article-comments__comment-body">{{ comment.comment }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
