{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-sm-6 widget">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{% trans "Latest articles" %}</h3>
            </div>
            <div class="list-group">
                {% for article in latest_articles %}
                    <a class="list-group-item" href="{% url 'article-detail' article.slug %}">{{ article.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
