{% extends "base.html" %}

{% block content %}
    {% if honeypot_triggered %}
        Error: honeypot triggered
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">
                    {% for article in articles %}
                        <a class="list-group-item" href="{% url 'article-detail' article.alias__slug %}">{{ article.alias__name }}</a>
                    {% endfor %}
                </di>
            </div>
        </div>
    {% endif %}
{% endblock %}
